Ferma/Source/Packages/
Ferma/Backup/
Ferma/Temp/
Ferma/Plugins/*
!Ferma/Plugins/GamePlugin.core.dll
!Ferma/Plugins/GamePlugin.core.pdb
!Ferma/Plugins/GamePlugin.core.xml
!Ferma/Plugins/EditorPlugin.editor.dll
!Ferma/Plugins/EditorPlugin.editor.pdb
!Ferma/Plugins/EditorPlugin.editor.xml
Ferma/NVorbis.dll
Ferma/OpenTK.GLControl.dll
Ferma/OpenTK.GLControl.xml
Ferma/OpenTK.dll
Ferma/OpenTK.dll.config
Ferma/OpenTK.pdb
Ferma/OpenTK.xml
Ferma/FarseerDuality.xml
Ferma/FarseerDuality.pdb
Ferma/Microsoft.Web.XmlTransform.dll
Ferma/NVorbis.XML
Ferma/FarseerDuality.dll
Ferma/EditorUserData.xml
Ferma/PopupControl.dll
Ferma/PopupControl.pdb
Ferma/DualityUpdater.exe
Ferma/DualityPrimitives.pdb
Ferma/WeifenLuo.WinFormsUI.Docking.dll
Ferma/WeifenLuo.WinFormsUI.Docking.pdb
Ferma/logfile.txt
Ferma/logfile_editor.txt
Ferma/logfile_editor_prev.txt
Ferma/perflog.txt
Ferma/Aga.Controls.dll
Ferma/Aga.Controls.pdb
Ferma/Duality.pdb
Ferma/Duality.xml
Ferma/AdamsLair.WinForms.pdb
Ferma/AdamsLair.WinForms.xml
Ferma/perflog_editor.txt
Ferma/DDoc.chm
Ferma/DesignTimeData.dat
Ferma/DualityEditor.pdb
Ferma/DualityEditor.xml
Ferma/DualityLauncher.exe
Ferma/DualityLauncher.exe.config
Ferma/DualityLauncher.pdb
Ferma/DualityPrimitives.XML
Ferma/AdamsLair.WinForms.dll
Ferma/Source/Code/CorePlugin/bin/
Ferma/Source/Code/CorePlugin/obj/
Ferma/Source/Code/CorePlugin/GamePlugin.core.xml
Ferma/Source/Code/EditorPlugin/bin/
Ferma/Source/Code/EditorPlugin/obj/
Ferma/Source/Code/EditorPlugin/GamePlugin.core.xml
Ferma/Source/Code/ProjectPlugins.v12.suo